<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet">

    <title>{% block head_title %}MiniBottles{% endblock head_title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <!--============================
    =            Navbar            =
    =============================-->
    <header>
      <div class="container">
        <div class="raw">
          <div class="col logo">
            <a href="">
              <img src="{% static 'images/logo.png' %}" alt="">
            </a>
          </div>
          <div class="col  search">
            <form action="">
              <div class="row no-gutters align-itemscenter">
                <div class="col-10 column">
                  <input type="text" name="" id="" placeholder="Shearch">
                </div>
                <div class="col-2-column">
                  <button><i class="icon-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <nav class="col col-lg-2 menu">
            <a href=""><i class="icon-users"></i></a>
            <a href=""><i class="icon-bell-alt"></i></a>
            <a href=""><i class="icon-chat"></i></a>
            <a href=""><i class="{% static 'images/user.png' %}"></i></a>
          </nav>
        </div>
      </div>
    </header>

    {% block navbar %}
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a id="logo" class="navbar-brand" href="{% url "posts:home" %}">MiniBottles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto nav-masthead">
            
            <li class="nav-item">
              <a class="nav-link" href="#">My collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Notifications</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usser
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">My collection</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
          </ul>
          <form method="GET" action="" class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        </div>
      </nav>
    </div>
    {% endblock %}
    <!--====  End of Navbar  ====-->

    {% block content %}
    {% endblock %}

    <!--============================
    =            Footer            =
    =============================-->
    <div class="mastfoot">
      <div class="inner">
        <p>Developed by Fernando Guevara</p>
      </div>
    </div>  
    <!--====  End of Footer  ====-->
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>