<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans|Roboto" rel="stylesheet">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet">

    <title>{% block head_title %}MiniBottles{% endblock head_title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <!--============================
    =            Navbar            =
    =============================-->
    {% block navbar %}
    <header>
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-auto logo d-none d-md-block">
            <a href="{% url "posts:home" %}">MiniBottles
              <img src="{% static 'images/logo.png' %}" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-6 order-3 order-sm-2 search">
            <form method="GET" action="">
              <div class="row no-gutters align-items-center">
                <div class="col-10 column">
                  <input type="text" name="q" id="" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
                </div>
                <div class="col-2 column">
                  <button><i class="icon-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <nav class="col-12 col-sm-3 col-lg-2 d-flex justify-content-between ml-auto order-2 order-sm-3 menu">
            <a href="#"><i class="icon-bell-alt"></i></a>
            <a href="#"><i class="icon-chat"></i></a>
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-user"></i>
              </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="#">My Collection</a>
              <a class="dropdown-item" href="#">Logout</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    {% endblock %}
    <!--====  End of Navbar  ====-->

    <main class="container">
      <div class="row">

        <!--==================================
        =            Left sidebar            =
        ===================================-->

        <div class="col-12 col-md-3 left-sidebar" id="left-sidebar">
          <nav>
            <a href="#"><i class="icon-home"></i> All bottles</a>
            <a href="#"><i class="icon-money"></i> Sales</a>
            <a href="#"><i class="icon-dollar"></i> My shopping</a>
            <a href="#"><i class="icon-mail"></i> Messages</a>
            <a href="#"><i class="icon-glass"></i> My collection</a>
            <a href="#"><i class="icon-plus-squared"></i> Add bottle</a>
          </nav>
        </div>

        <div class="col main-content">
          <div class="publish">
            <div class="row">
              <div class="col">
                <a href="#" class="btn-menu d-flex d-sm-none justify-content-between" id="btn-menu">
                  <span>Menu</span>
                  <i class="icon-home"></i>
                </a>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto pick">
                <a href="#">
                  <img src="{% static 'images/user.png' %}" alt="">
                </a>
              </div>
              <div class="col">
                <form action="">
                  <textarea name="message" id="" placeholder="Post Message"></textarea>
                  <div class="buttons-content d-flex justify-content-between">
                    <div class="media">
                      <a href="#"><i class="icon-facebook-squared"></i></a>
                      <a href="#"><i class="icon-instagram"></i></a>
                      <a href="#"><i class="icon-twitter-squared"></i></a>
                    </div>
                    <div>
                      <button>Post</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        <!--====  End of Left sidebar  ====-->

        {% block content %}
        {% endblock %}

        <!--==================================
        =            Right sidebar            =
        ===================================-->
            
        <div class="col-3 right-sidebar d-none d-lg-block">
          <h3>Advertising</h3>
          <div class="ads">
            <a href="#"><img src="{% static 'images/ad1.jpg' %}" width="300"></a>
            <a href="#"><img src="{% static 'images/ad2.jpg' %}" width="300"></a>
            <a href="#"><img src="{% static 'images/ad3.jpg' %}" width="300"></a>
          </div>
          <footer>
            <a href="#">Privacy</a>
            <a href="#">Conditions</a>
            <a href="#">Advertising</a>
            <p class="copyright">MiniBottles © 2017</p>
          </footer>
        </div>

        <!--====  End of Right sidebar  ====-->
        
      </div>
    </main>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>