{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

         
          <!--=====================================
          =            Box-publication            =
          ======================================-->
        <div class="col-md-9 col-lg-6 main-content">  
          <div class="publish">
            <div class="row">
              <div class="col">
                <a href="#" class="btn-menu d-flex d-md-none justify-content-between" id="btn-menu">
                  <span>Menu</span>
                  <i class="icon-home"></i>
                </a>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto pick">
                <a href="#">
                  <img src="{% static 'images/user.png' %}" alt="">
                </a>
              </div>
              <div class="col label-box">
                <form method="POST" action="" enctype='multipart/form-data'>
                  {% csrf_token %}
                  <div class="row no-gutters">
                    <div class="col-3 label-box">
                      <label>Name:</label>
                    </div>
                    <div class="col">
                      <input type="text" placeholder="Bottle name">
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-3">
                      <label>Category:</label>
                    </div>
                    <div class="col">
                      <input type="text" placeholder="kind of drink">
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-3">
                      <label>Origin:</label>
                    </div>
                    <div class="col">
                      <input type="text" placeholder="Where is the bottle from?">
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-3">
                      <label>mL:</label>
                    </div>
                    <div class="col">
                      <input type="text" placeholder="Milliliters volume">
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-3">
                      <label>Description:</label>
                    </div>
                    <div class="col">
                      <textarea name="message" id="" placeholder="Description"></textarea><br>
                    </div>
                  </div> 
                  
                  <div class="buttons-content d-flex justify-content-between">
                    <div class="media">
                      <a href="#"><i class="icon-facebook-squared"></i></a>
                      <a href="#"><i class="icon-instagram"></i></a>
                      <a href="#"><i class="icon-twitter-squared"></i></a>
                    </div>
                    <div>
                      <button type='submit'>Add Bottle</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
          <!--====  End of Box-publication  ====-->
          

          <!--==================================
          =            Main Content            =
          ===================================-->

          {% for obj in obj_list %}
          <div class="publication">
            <div class="row">
              <div class="col-auto pick d-none d-md-block">
                <a href="#">
                  <img src="{% static 'images/user.png' %}" alt="">
                </a>
              </div>

              <div class="col">
                <div class="post">
                  {% if obj.user.get_full_name %}
                    <a href="#" class="name">User: {{ obj.user.get_full_name }}</a>
                  {% else %}
                    <a href="#" class="name">User: {{ obj.user }}</a>
                  {% endif %}

                  {% if obj.image %}
                  <div class="image">
                    <img class='img-fluid' src='{{ obj.image.url }}' />
                  </div>  
                  {% endif %}
                  <div class="">
                    <h4 class="">{{ obj.title }}</h4>
                    <p class="">{{ obj.category }}</p>
                    <p class="">{{ obj.origin }}</p>
                    <p class="">{{ obj.ml }}</p>
                    <p class="">{{ obj.description }}</p>
                  </div>
                  <div class="buttons-box d-flex justify-content-between align-items-center">
                    <button><i class="icon-glass"></i></button>
                    <p>15 <i class="icon-glass"></i></p>
                  </div>
                </div>
              </div>
            </div>


            <div>
              <p class="lead">Comentarios</p>
              {% for comment in comments %}
                <div>
                  {{ comment.content }}
                  <br/>
                  <small>por {{ comment.user }} | hace {{ comment.timestamp|timesince }}</small>
                  <hr/>
                </div>
              {% endfor %}
            </div>


            <!-- Comments Form -->
            <div class="row justify-content-end">
              <div class="col-10">
                <div class="commets">
                  <div class="row comment no-gutters">
                    <div class="col-auto pick">
                      <a href="#">
                        <img src="{% static 'images/user.png' %}" alt="">
                      </a>
                    </div>
                    <div class="col">
                      <form action="">
                        <textarea name="" id="" placeholder="Comment"></textarea>
                      </form>
                    </div>
                  </div>

                  <!-- Comment -->
                  <div class="row comment no-gutters ">
                    <div class="col-auto pick">
                      <a href="#">
                        <img src="{% static 'images/user.png' %}" alt="">
                      </a>
                    </div>
                    <div class="col">
                      <p class="response">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, eum.
                      </p>
                      <a href="#" class="like">Like</a>
                    </div>
                  </div>
                  <!-- End Comment -->
                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          <!--====  End of Main Content  ====-->
        
          <!--================================
          =            Pagination            =
          =================================-->

          <div class="pagination">
            <span class="step-links">
              {% if obj_list.has_previous %}
                <a href="?{{ page_request_var }}={{ obj_list.previous_page_number }}{% if request.GET.q%}&q={{ request.GET.q }}{% endif %}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
              </span>
              {% if obj_list.has_next %}
                <a href="?{{ page_request_var }}={{ obj_list.next_page_number }}{% if request.GET.q%}&q={{ request.GET.q }}{% endif %}">next</a>
              {% endif %}
            </span>
          </div>

          <!--====  End of Pagination  ====-->
        </div>
        
{% endblock %}

