{% extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1>New password</h1>
<form method="post">
{% csrf_token %}
{{ form.new_password1.errors }}
<label for="id_new_password1">New password:</label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirm password:</label>
{{ form.new_password2 }}
<input type="submit" value="Change my password">	
</form>

{% else %}

<h1 class="text-center">Invalid link: This link has already been used</h1>
	
{% endif %}
{% endblock %}