
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-glass:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80d'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-zoom-in:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e810'; } /* '' */
.icon-upload:before { content: '\e811'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */