body {
  background-color: #e9ebee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  color: #2B2E4A;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */
header {
  background: #2B2E4A;
  padding: 10px 0;
}

/* LOGO */
header .logo img {
  height: 24px;
}

header .logo a {
  margin-bottom: 0;
  color: #fff;
  font-family: 'Oleo Script', cursive;
}

header .logo a {
  text-decoration: none;
}

/* Search */
header .search form input[type="text"]{
  width: 100%;
  background: #fff;
  border: none;
  font-size: 12px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px 0 0 3px;
  color: #6d6d6d;
  font-family: 'Open Sans', sans-serif; 
}

header .search form button {
  width: 100%;
  background: #fff;
  border:none;
  font-size: 12px;
  padding: o 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  color: ·6d6d6d; 
}

header .search form button:hover {
  background: #E84545;
  color:fff;
}

/* Menu */
header .menu {
  padding: 0;
}

header .menu a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

header .menu a:hover {
  color: #fff;
}

header .menu .dropdown a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

header .menu .dropdown a:hover {
  color: #fff;
}

.dropdown-toggle::after {
  margin-left: 0;
}

.icon-user::before {
  margin-right: 0;
}

header .menu .image {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.dropdown-item {
  color: #212529 !important;
}

header .menu .image img {
  border-radius: 100px;
}

/* --- --- MAIN --- --- */
main {
  padding-top: 20px;
}

/* LEFT SIDEBAR */
main .left-sidebar {
  padding-bottom: 10px;
  padding-left: 0;
}

main .left-sidebar nav {
  border-bottom: 1px solid #c7c8ca;
  padding-bottom: 20px;
}

main .left-sidebar nav a {
  display: block;
  padding: 3px 3px;
  font-family: 'Roboto', sans-serif;
  color: #3d3c3c;
}

main .left-sidebar nav a:hover {
  background: #f2f2f2;
  text-decoration: none;
}

main .left-sidebar nav a i {
  margin-right: 10px;
}

/* --- --- CONTENIDO PRINCIPAL --- --- */
/* --- --- publish --- --- */
main .main-content .publish {
  margin-bottom: 20px;
}

main .main-content .publish .pick {
  padding-left: 15px;
}

main .main-content .publish .pick a {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 20px;
}

main .main-content .publish .pick img {
  width: 100%;
}

.label-box {
  background: #2B2E4A;
  color: #FFF;
  border-radius: 10px 10px 10px 10px;
  padding-top: 10px;
}

main .main-content .publish form input {
  width: 100%;
  border: 3px;
  color: #565656;
  font-size: 12px;
  padding: 3px;
  font-size: 16px;
}

main .main-content .publish form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 55px;
  max-height: 110px;
  border: none;
  padding: 3px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  /*color: #565656;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35)*/
}

main .main-content .publish form .buttons-content {
  padding: 20px 0;
  border-bottom: 1px solid #c7c8ca;
}

main .main-content .publish form .buttons-content a {
  color: #E84545;
  font-size: 20px;
  margin-right: 10px;
}

main .main-content .publish form .buttons-content a:hover {
  color: #903749;
}

main .main-content .publish form button {
  border: 1px solid #53354A;
  padding: 5px 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #E84545 0%, #903749 100%);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

main .main-content .publish form button:hover {
  background: linear-gradient(to bottom, #903749 0%, #E84545 100%);
}

/* --- publications--- */
main .publication {
  margin-bottom: 40px;
}

main .publication .pick {
  padding-left: 15px;
  margin-right: 15px; 
}

main .publication .pick a {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
}

main .publication .pick a img {
  width: 100%;
}

main .publication .name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

main .publication .text {
  background: #fff;
  color: #3d3c3c;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 15px;
}

main .publication .image {
  padding: 15px;
  background: #fff;
  margin-bottom: 15px;
}

main .publication .image img {
  width: 100%;
}

main .publication .buttons-box {
  margin-bottom: 20px;
}

main .publication .post .buttons-box button {
  background: #903749;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border:none;
}

main .publication .post .buttons-box button:hover {
  background: #53354A;
}

main .publication .post .buttons-box p {
  margin-bottom: 0;
  color: #53354A;
}

/* --- comments --- */
main .publication .comment {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
}

main .publication .comment .pick {
  padding-left: 0;
  margin-right: 15px;
}

main .publication .comment .pick a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

main .publication .comment form textarea {
  width: 100%;
  background: #fff;
  border:1px solid #cbcbcb;
  color: #565656;
  padding: 8px;
  min-height: 40px;
  height: 40px;
  min-width: 100%;
  max-width: 100%;
  font-size: 14px;
}

main .publication .comment .response  {
  font-size: 14px;
  margin-bottom: 10px;
}

main .publication .comment .like {
  font-size: 14px;
}

/* --- right-sidebar --- */
main .right-sidebar h3 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

main .right-sidebar .ads {
  /*margin-bottom: 20px;*/
}

main .right-sidebar .ads a {
  margin-bottom: 15px;
  display: inline-block;
}

main .right-sidebar .ads a img {
  width: 100%;
}

/* --- right-sidebar --- */
main .right-sidebar footer {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

main .right-sidebar footer a {
  color: #E84545;
  line-height: 14px;
  margin-right: 10px;
}

main .right-sidebar footer .copyright {
  color: #919191;
  margin-top: 10px;
}

/* --- --- MEDIAQUERIES --- --- */
@media screen and (max-width: 767px) {
  main .btn-menu {
    display: block;
    border: 1px solid #53354A;
    padding: 5px 10px;
    font-size: 14px;
    background: linear-gradient(to bottom, #903749 0%, #53354A 100%);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
  }

  main .btn-menu:hover {
    background: #E84545;
    text-decoration: none;
  }

  main .background-link {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    background: rgba(0,0,0,.5);
    z-index:99;
    display: none;
  }

  main .background-link.active {
    display: block;
  }

  main .left-sidebar {
    width: 85%;
    position: fixed;
    background: rgba(0,0,0,.85);
    z-index: 100;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: all .3s ease;
    overflow: scroll;
  }

  main .left-sidebar.active {
    transform: translateX(0%);
  }

  main .left-sidebar nav {
    border-bottom: none;
  }

  main .left-sidebar nav a {
    padding: 20px;
    color: #fff;
  }

  main .left-sidebar nav a:hover {
    color: #3d3c3c;
    background: #fff;
  }

@media screen and (max-width: 575px) {
  header .menu {
    padding: 0 15px 15px 15px;
  }

  main .main-content .publication .pick a {
    width: 40px;
    height: 40px;
    margin:0;
  }

  main .publication .pick a {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 320px) {
  main .main-content .publish .pick {
    display: none;
  }
}